.welcome-text{
    margin-top: 4em;
}

.balance{
    float: left;
    margin-left: 4em;
    margin-top: 6em;
}



.homepage{
    background-color: coral;
    width: 85%;
}

.recharge-container{
    display: flex;
    flex-direction: column;
}

.recharge{
    background-color: green;
    padding: 1em;
    color: white;
    font-size: 1em;
    margin-top: 5em;
    border-radius: 0.75em;
}

.recharge-cancel{
    background-color: red;
    padding: 1em;
    color: white;
    font-size: 1em;
    margin-top: 5em;
    border-radius: 0.75em;
}

.recharge-input{
    color: white;
    width: 20%;
    margin-left: 45%;
    margin-top: 2em;
}

.recharge-input-close{
    display: none;
}

.recharge-input-box{
    height: 1em;
    width: 6em;
    padding: 1em;
    margin-right: 0.75em;
}

.confirm-recharge-btn{
    background-color: blue;
    color: white;
    font-size: 1em;
    padding: 0.75em;
}



@media screen and ( max-width: 630px){
    .homepage{
        width: 100%;
        height: 84%;
    }

    .balance{
        float: initial;
        margin-left: 0em;
    }

}
