.welcome-text{
    margin-top: 4em;
}

.balance{
    float: left;
    margin-left: 1em;
}



.homepage{
    background-color: coral;
    width: 85%;
}

.container{
    display: flex;
    flex-direction: row;
    height: 91.9vh;
    
}
