.vehicle-details-container{
    display: flex;
    flex-direction: column;
    width: 85%;
    background-color: violet;

}

.vehicle-details-header{
    font-size: 2em;
    margin-top: 2em;

}

.all-tolls-container{
    display: flex;
    flex-direction: column;
    margin-right: 50%;
    margin-left: 10%;
    margin-top: 3em;

}

.toll-container{
    border: 1px black solid;
    font-size: 1.25em;
    margin-bottom: 1.5em;
    padding: 1em;
    
}


@media screen and (max-width: 630px){
    .vehicle-details-header{
        font-size: 1.5em;
    }

    .vehicle-details-container{
        width: 100%;

        min-height: 84%;
    }
}