.container{
    display: flex;
    flex-direction: row;
    height: 91.9vh;
    
}
.nav-div{
    background-color: #323D4F;
    width: 15%;
    position: initial;
    text-decoration: none;
    
}

.main-sec{
    background-color: coral;
    width: 85%;
}

@media screen and (max-width: 630px){
    .nav-div{
        width: 100%;
        height: 15%;
    }

    .container{
        display: flex;
        flex-direction: column;
    }
    .main-sec{
        width: 100%;
    }
}