.container{
    display: flex;
    flex-direction: row;
    height: 100vh;
    

}
.nav-div{
    background-color: #323D4F;
    width: 15%;
    position: initial;
    
}

.main-sec{
    background-color: coral;
    width: 85%;
}