.container{
    display: flex;
    flex-direction: row;
    height: 91.9vh;
    
}
.nav-div{
    background-color: #323D4F;
    width: 15%;
    position: initial;
    text-decoration: none;
    
}

.main-sec{
    background-color: coral;
    width: 85%;
}