.admin-car-container{
    background-color: whitesmoke;
    height: 60%;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 5%;
    color: black;
    padding: 2em;
}

.car-details{
    font-size: 2em;
    position: relative;
    top: 1.5em;
}

.car-info-container{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-top: 6em;
}


.vehicle-phone, .vehicle-number, .vehicle-type{
    display: flex;
    flex-direction: row;
    margin-top: 2em;
    margin-left: 10%;
}

.vehicle-phone-text, .vehicle-number-text, .vehicle-type-text{
    font-size: 1.5em;
    margin-top: 0.75em;
    margin-right: 2em;
}

.create-car-ip{
    height: 1em;
    border-radius: 1em;
    padding: 1em;
    font-size: 1.25em;
    border: 1px solid black;
}

.car-details-add{
    background-color: green;
    color: white;
    width: 20%;
    height: 2.25em;
    font-size: 1.5em;
    border-radius: 18px;
    position: relative;
    left: 40%;
    top: 2em;
}

.dropdown-vehicle-type{
    width: 200%;
    margin-left: 2em;
    /* height: 4em; */
    font-size: 1.5em;
    padding: 0.5em;
    background-color: white;
    border-radius: 1em;
    border: 1px solid black;
}
