.App {
  text-align: center;
  height: 100%;
}

.App-header {
  background-color: #323D4F;
  height: 2%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1em;
  color: white;
  position: sticky;
  top: 0;
  box-shadow: 5px 10px 8px black;

}
